@import url(../../components/styles/layout.css);

.profile-case {
	width: 100%;
	margin: 60px 80px 0px;
	border-radius: 20px;
	background-color: #e6e6e6;
}

.profile-banner {
	width: 100%;
	height: 200px;
	border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-position: bottom;
}

.profile-user-case {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 240px;
	padding: 40px;
	justify-content: space-between;
}

.profile-user-case2 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile-user-avatar {
	--size: 128px;
	width: var(--size);
	height: var(--size);
	border: 0px;
	border-radius: 50%;
	background-color: black;
}

.profile-user-name-case {
	margin: 0px 40px;
}

.profile-user-display-name {
	font-size: 2rem;
}

.profile-user-edit-profile-button {
	padding: 0.5em 2em;
	border-radius: 2em;
	background-color: var(--app-green);
  color: black;
}

.profile-user-edit-profile-button:hover {
	background-color: var(--app-green2);
}

.bg-green-main {
  background-color: rgb(0, 191, 99);
}

.btn-green {
  background-color: rgb(0, 191, 99);
  border-radius: 6px;
}
.btn-green:hover {
  background-color: rgb(2, 168, 88);
}

.profile-header {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 3rem;
}

.profile-cover {
  width: 100%;
  height: 140px;
  background: url("/image/cover-sample.jpg") center/cover no-repeat;
  background-color: rgb(0, 191, 99);
}


.profile-bar {
  background-color: #e6e6e6;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 20px;
  position: relative;
}

.profile-avatar {
  position: absolute;
  left: 20px;
  top: 50px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #e6e6e6;
  object-fit: cover;
  background: #333;
  z-index: 5;
}


.profile-username {
  font-weight: bold;
  font-size: 26px;
  color: #000;
}


.edit-btn {
  background-color: rgb(0, 191, 99);
  border: none;
  border-radius: 20px;
  padding: 6px 18px;
  font-weight: bold;
  color: black;
}
.edit-btn:hover {
  background-color: rgb(2, 168, 88);
  color: white;
}


.info-box {
  background-color: rgb(0, 191, 99);
  border-radius: 20px;
  padding: 20px;
  color: black;
}
