@import url(../../components/styles/layout.css);

:root {
  --pfp-size: 192px;
}

.profile-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 10rem 0;
  overflow-y: scroll;
}

.profile-case {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
	border-radius: 1rem;
	background-color: #e6e6e6;
}

.profile-banner {
	width: 100%;
	height: 18rem;
	border-radius: 1rem 1rem 0px 0px;
  background-size: cover;
  background-position: bottom;
}

.profile-user-case {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 2rem 2rem;
	justify-content: space-between;
}

.profile-user-case2 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile-user-avatar {
	width: var(--pfp-size);
	height: var(--pfp-size);
	border: 0px;
	border-radius: 50%;
	background-color: black;
}

.profile-user-display-name {
	font-size: 1.875rem;
  line-height: 1;
}

.profile-user-edit-profile-button {
	padding: 0.5em 2em;
	border-radius: 2em;
	background-color: var(--app-green);
}

.profile-edit-profile-button {
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.profile-user-edit-profile-button:hover {
	background-color: var(--app-green2);
}

.bg-green-main {
  background-color: rgb(0, 191, 99);
}

.btn-green {
  background-color: rgb(0, 191, 99);
  border-radius: 6px;
}
.btn-green:hover {
  background-color: rgb(2, 168, 88);
}

.profile-header {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 3rem;
}

.profile-cover {
  width: 100%;
  height: 140px;
  background: url("/image/cover-sample.jpg") center/cover no-repeat;
  background-color: rgb(0, 191, 99);
}


.profile-bar {
  background-color: #e6e6e6;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 20px;
  position: relative;
}

.profile-avatar {
  position: absolute;
  left: 20px;
  top: 50px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #e6e6e6;
  object-fit: cover;
  background: #333;
  z-index: 5;
}


.profile-username {
  font-weight: bold;
  font-size: 26px;
  color: #000;
}

.profile-test {
  position: relative;
  height: 0px;
  overflow: visible;
  align-items: center;
  left: 2rem;
  bottom: calc(0.7*var(--pfp-size));
}

.profile-section-case {
  background-color: var(--body-dark);
  margin-bottom: 4px;
  padding: 0.75rem 0;
  border-radius: 1rem 1rem 0 0;
}

.profile-info-case {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--body-dark);
  padding: 1rem 0;
}

.profile-info-section {
  padding: 0 3rem;
}

.edit-btn {
  background-color: rgb(0, 191, 99);
  border: none;
  border-radius: 20px;
  padding: 6px 18px;
  font-weight: bold;
  color: black;
}
.edit-btn:hover {
  background-color: rgb(2, 168, 88);
  color: white;
}


.info-box {
  background-color: rgb(0, 191, 99);
  border-radius: 20px;
  padding: 20px;
  color: black;
}