# docker-compose.yml
version: '3.8'
services:

  db:
    image: mysql
    container_name: db
    environment:
      MYSQL_DATABASE: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      MYSQL_ROOT_PASSWORD: test
    volumes:
      - ./data:/var/lib/mysql
    ports:
      - 3305:3306
  
  my_django:
    build: ./backend
    image: my_django:latest
    container_name: my_django
    restart: always
    ports:
      - 8000:8000
    volumes:
      - ./backend:/app
    command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    depends_on:
       - db
    env_file:
      - ./backend/.env


  frontend:
    build: ./frontend
    image: frontend
    container_name: frontend
    ports:
      - "80:3000"

  # my_frontend:
  #  build:  ./frontend
  #  image: my_frontend:latest
  #  container_name: my_frontend
  # #  restart: always
  #  ports:
  #    - 5173:5173
  #  volumes:
  #    - ./frontend:/app
  #  depends_on:
  #    - my_django
      