.ig-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.ig-side-section {
    width: 20rem;
    margin: 2rem 0;
    padding-bottom: 1px;
    border-radius: 0.5rem;
    background-color: var(--body-dark);
}

.ig-side-member-list {
    margin: 0 1rem 1rem;
    padding: 1px 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--body);
}

.ig-group-member-button {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 1rem;
}

.ig-group-member-button:hover {
    background-color: var(--body-darker);
}

.ig-side-member-case {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.ig-side-member-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: black;
}

.ig-side-member-name {
    margin: 0 1rem;
}


.ig-invite-modal-box {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--body);
}

.ig-search-bar {
    margin: 1rem 0;
}

.ig-invite-user-list-case {
    max-height: calc((42px + 0.5rem)*6);
    overflow-y: auto;
}

.ig-invite-user-case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
}

.ig-invite-user-case:hover {
    background-color: var(--body-dark);
}

.ig-invite-invite-btn {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem !important;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}