@import url(../../components/styles/layout.css);

.group-create-group-button {
	padding: 1em 1.5em;
	border-radius: 2em;
	color: var(--primary-text);
	background-color: var(--primary);
	text-decoration: none;
	transition: background-color 0.2s;
}

.group-create-group-button:hover {
	background-color: var(--primary-dark);
}

.group-button-case {
	display: flex;
	justify-content: end;
}

.group-list-case {
  margin-left: 80px;
}


@media (max-width: 768px) {
  .group-list-case {
    margin-left: 20px;
  }
}

.group-card {
  position: relative;
  display: flex;
  height: 200px;
  margin: 1rem 0rem;
  border-radius: 1rem;
  flex-grow: 1;
  background: var(--primary);
  border: 2px solid black;
  justify-content: end;
  max-width: 1200px;
  overflow: hidden;     
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.group-info-case {
  position: relative; 
  z-index: 2;
  display: flex;
  padding: 1.5rem 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.group-name {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgba(0,0,50,1), 2px 2px 0px rgba(0,0,50,0.8);
  color: var(--primary-text);
}

.group-member-image {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  margin: 0 4px;
  border-radius: 50%;
  background: white;
}


.pic-fit {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
}

.group-banner-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: inherit;
  z-index: 1;
}

.group-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}