.bg-green-main {
  background-color: rgb(0, 191, 99);
}

.btn-green {
  background-color: rgb(0, 191, 99);
  border-radius: 6px;
}
.btn-green:hover {
  background-color: rgb(2, 168, 88);
}

/* Group card */
.groupCard {
  height: 200px;
  background: rgb(60, 183, 124);
  border: 2px solid rgb(39, 39, 44);
  color: white;
}

.groupImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.group-create-group-button {
	padding: 1em 1.5em;
	border-radius: 2em;
	color: var(--primary-text);
	background-color: var(--primary);
	text-decoration: none;
	transition: background-color 0.2s;
}

.group-create-group-button:hover {
	background-color: var(--primary-dark);
}

.group-button-case {
	display: flex;
	justify-content: end;
}

.group-list-case {
}

.group-card {
  display: flex;
  height: 200px;
  margin: 1rem 0rem;
  border-radius: 1rem;
  flex-grow: 1;
  background: var(--primary);
  border-width: 2px;
  border-color: black;
  justify-content: end;
}

.group-info-case {
  display: flex;
  padding: 1.5rem 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.group-name {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-text);
}

.group-member-image {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  margin: 0 4px;
  border-radius: 50%;
  background: white;
}
