@import url(./styles.css);

.top-nav-bar {
  height: 60px;
  background-color: var(--body-dark);
  display: flex;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.top-nav-bar .left-links-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 0;
}

.top-nav-bar .open-sidebar-button {
    padding: 15px;
}

#sidebar-active{
  display: none;
}

.top-nav-bar .right-links-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: 0;
}

.top-nav-bar a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text);
}

.top-nav-bar a:hover {
  background-color: var(--body-darker);
}


.top-nav-bar svg {
  fill: var(--text)
}

.dropcheck {
  background: #ff0000;
  height: 16px;
  width: 16px;
  display:inline-block;
  padding: 0 0 0 0px;
  position: relative;
}

.dropcheck-content {
  position: fixed;
  width: 280px;
  background-color: #ff0000;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  height: 60px;
}

.dropdown-content {
  display: none;
  position: fixed;
  width: 400px;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  top: 90px;
  right: 0;
}

.dropdown-option {
    display: flex;
    height: 42px;
    color: #18181f;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.dropdown-option:hover {
    background-color: rgb(236, 236, 236);
}

.dropdown-divider {
    height: 1px;
    background-color: #bdbdbd;
}

.dropdown-userbox {
    display: flex;
    height: 80px;
    text-decoration: none;
    padding: 1rem;
}

.dropdown-userbox:hover {
    background-color: rgb(236, 236, 236);
}

.dropdown-username {
    color: #18181f;
    margin-left: 1rem;
}

.user-icon {
    background-color: #18181f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
