:root {
/* Light Theme mode */
  --body-light: #ffffff;
  --body: #f5f5f5;
  --body-alt: #ededed;
  --body-dark: #e8e8e8;
  --body-darker: #dedede;
  --body-outline: #d1d1d1;
  --text: #444;
  --muted: #848484;
  --faded: #b9b9b9;
  --primary: #1abc9c;
  --primary-text: #f8f8ff;
  --primary-dark: #1da68b;
  --primary-faded: rgba(26, 188, 156, 0.2);

/* Fixed Color */
  --error: #be5046;
  --error-text: #f8f8ff;
  --danger: #be5046;
  --danger-dark: #7b1a11;
  --danger-text: #f8f8ff;
  --warning: #dda82b;
  --warning-dark: #dda82b;
  --warning-text: white;
  --success: #45aa63;
  --secondary: #ff004b;
  --secondary-dark: #eb0045;
  --white: #f8f8ff;
  --red: #c64a4a;
  --green: green;
  --yellow: yellow;
  --blue: blue;
  --admin-color: #d98350;
  --moderator-color: #9889ff;
  --premium-color: #ff62cd;
  color: var(--text);
}

:root body .darkmode {
/* Dark Theme mode */
  --body-light: #31363e;
  --body: #282c34;
  --body-alt: #24272e;
  --body-dark: #1f2228;
  --body-darker: #16181d;
  --body-outline: #3c424b;
  --text: #f8f8ff;
  --muted: #ddd;
  --faded: #c8c8c8;
  --primary: #61afef;
  --primary-text: #f8f8ff;
  --primary-dark: #2993e9;
  --primary-faded: rgba(97, 175, 239, 0.1);

/* Fixed Color */
  --error: #be5046;
  --error-text: #f8f8ff;
  --danger: #be5046;
  --danger-dark: #7b1a11;
  --danger-text: #f8f8ff;
  --warning: #dda82b;
  --warning-dark: #dda82b;
  --warning-text: white;
  --success: #45aa63;
  --secondary: #ff004b;
  --secondary-dark: #eb0045;
  --white: #f8f8ff;
  --red: #c64a4a;
  --green: green;
  --yellow: yellow;
  --blue: blue;
  --admin-color: #d98350;
  --moderator-color: #9889ff;
  --premium-color: #ff62cd;
  color: var(--text);
}

* {
  /*
  margin: 0;
  padding: 0;*/

  /* This overrides tailwind margin and padding classes */
}

body {
  height: 100vh; /* not 100% */
  width: 100%;
  margin: 0;
  background-color: var(--body-light);
  color: var(--text);
}

html, body {
  height: 100%;
  margin: 0;
}

.default-btn {
  background-color: var(--primary);
  color: var(--primary-text);
  border: none;
  border-radius: 6px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.default-btn:hover {
  background-color: var(--primary-dark);
}
