@import url(./styles.css);

.top-nav-bar {
  height: 60px;
  background-color: var(--body-dark);
  display: flex;
  justify-content: flex-end;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.top-nav-bar .links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-nav-bar a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text);
}

.top-nav-bar a:hover {
  background-color: var(--body-darker);
}

.top-nav-bar .home-link {
  margin-right: auto;
}

.top-nav-bar svg {
  fill: var(--text)
}

.avatar {
  width: 32px;
}

.avatar__outer {
  overflow: hidden;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.avatar__inner {
  z-index: 100;
  position: relative;
}

.avatar img {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
  background: var(--body-darker);
}

.image {
  width: 100%;
  height: auto;
  display: inherit;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-right: 15px;
  padding-left: 5px;
}

.button-container .custom-button {
  height: 40px;
  padding: 6px 12px;
  border-radius: 999px; /* Fully rounded */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.2s ease;
  background-color: var(--primary);
}

.button-container .custom-button:hover {
  background-color: var(--primary);
  color: white;
  transform: scale(1.05);
}
