@import url(./styles.css);

.top-nav-bar {
  height: 60px;
  background-color: var(--body-dark);
  display: flex;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.top-nav-bar .links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-nav-bar a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text);
}

.top-nav-bar a:hover {
  background-color: var(--body-darker);
}

.top-nav-bar .home-link {
  margin-right: auto;
}

.top-nav-bar svg {
  fill: var(--text)
}

.avatar {
  width: 32px;
}

.avatar__outer {
  overflow: hidden;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.avatar__inner {
  z-index: 100;
  position: relative;
}

.avatar img {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
  background: var(--body-darker);
}

.image {
  width: 100%;
  height: auto;
  display: inherit;
}
