.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-layout .site-layout-background {
  background: #fff;
}

.default-color {
  background: #fff;
}

.app-layout {
  height: 100vh;
  display: flex;
}

.side-menu {
  background: #001529; /* Adjust based on your theme */
}

.content-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.main-content {
  padding: 24px;
  flex: 1;
  overflow-y: auto; /* Allows scrolling within the main content area */
  background: #fff; /* Adjust based on your theme */
}